
<div class="centering">
<h2>
<!-- とりあえず色を変えた -->
<%= link_to( '就職試験報告書を探す', {:controller=>'search',:action=>'emp'}, {:class => "btn"} )%>
<%= link_to( '進学試験報告書を探す', {:controller=>'search',:action=>'uni'}, {:class => "btn"} )%>
</h2>
</div>
