.waku   {  
    border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */ 
    padding: 10px;
    margin-bottom: 10px;
	border:2px solid #999;
}

.centering {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 30px; 
    font-weight: bold;
    margin-bottom: 20px;
}

.created {
    text-align: right;
    font-size: 15px; 
    margin-bottom: 10px;
}

.search{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 0px;
    width:60%;    
}